<table class="table caption-top my-3">
  <caption>Lista de Exames Realizados</caption>
  <thead>
    <tr>
      <th scope="col">Token</th>
      <th scope="col">Paciente</th>
      <th scope="col">CPF</th>
      <th scope="col">Data de Nascimento</th>
      <th scope="col">CRM/UF</th>
      <th scope="col">Médico</th>
      <th scope="col">Exame</th>
      <th scope="col">Data</th>
      <th scope="col">Limites</th>
      <th scope="col">Resultado</th>
    </tr>
  </thead>
  <tbody>
    <% @tests.each do |test| %>
        <tr>
            <th scope="row"><%= test['test_token'] %></th>
            <td><%= test['patient_name'] %></td>
            <td><%= test['patient_registration_number'] %></td>
            <td><%= test['patient_birth_date'] %></td>
            <td><%= test['doctor_crm'] %>/<%= test['doctor_crm_state'] %></td>
            <td><%= test['doctor_name'] %></td>
            <td><%= test['test_type'] %></td>
            <td><%= test['test_date'] %></td>
            <td><%= test['test_limits'] %></td>
            <td><%= test['test_result'] %></td>
        </tr>
    <% end %>
  </tbody>
</table>

